<h1><%= @meetup.name %></h1>
<h4><%= @meetup.description %></h4>
<h4>Location: <%= @meetup.location %></h4>

<% if signed_in? && !current_user.meetups.include?(@meetup) %>
  <form action="/meetups/<%= @meetup.id %>/memberships" method="post">
  <input type="submit" value="join this meetup"/>
  </form>
<% end %>

<% @user.each do |user| %>
  <% @membership.each do |member| %>
    <% if (member.user_id == user.id) && (member.meetup_id == params[:id].to_i) %>
      <h4><%= user.username %></h4>
      <img src="<%= user.avatar_url %>" height=50 width=50/>
    <% end %>
  <% end %>
<% end %>
